/**
 * @Author: Your name
 * @Date:   2022-04-09 19:25:47
 * @Last Modified by:   Your name
 * @Last Modified time: 2022-04-18 15:58:17
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
body,html{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
body::before{
    display: block;
    content: '';
    height: 60px;
}
@media screen and (min-width: 576px) {
    background-image {
      display: flex;
    }
}
.navbar{
    background-color: rgb(245, 245, 245);
    height: 75px;
}
.logo{
    height:100px;
    width: 120px;
    margin-left: 0px;
}
.navlist{
    display: flex;
    align-items: center;
}
.navitem{
    list-style: none;
    margin-right: 2rem;
    text-decoration: none;
}
.navitem a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
nav ul li a:hover{
color: rgb(106, 138, 48);
}
/*nav ul li.active{
    color:rgb(106, 138, 48);
}*/
.image img{
    width: 100%;
    opacity: 0.75;
}
.background-image{
    background-image: url("/assets/images/homepage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    width:100vw;
    height: auto;
}
.boxed{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: start;
}
.home-text{
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    text-align: start;
    color: rgb(183, 196, 0);
}
.headings{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 325;
    text-align: center;
    margin-top: 20px;
}
.services-heading{
    margin-top: 350px;
}
.row-box{
    background-color: #ffffff;
}
  .box{
    display:flex;
    color:black;
    flex-direction: column;
    width:auto;
    border: 4px solid rgb(20, 102, 88);
    margin:10px 10px 10px 10px;
    align-items: center;
    text-align:justify;
    padding:3px;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(54, 54, 54),white);
    background-size: 20% 100;
    transition: all 8s;
  }
  .box:hover {
    opacity: 3.7;
    box-shadow: 0 0 20px rgb(26, 141, 170);
    border: none;
  }
.boxes{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
}
.box-one{
    background-image: url("/assets/images/grocery.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    width:auto;
    height: 520px;  
}
.box-two{
    background-image: url("/assets/images/tree planting.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    width:auto;
    height: 520px; 
}
.box-three{
    background-image: url("/assets/images/transport.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    width:auto;
    height: 520px; 
}
#testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
}
#contacts{
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: black;
}
.footer{
    color: white;
    align-items: center;
}
.contact-details {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
.footer-form{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.media-icons{
    text-decoration: none;
    list-style: none;
    display: flexbox;
    margin-inline: 5px;
}
